.container {
  display: flex;
  justify-content: center;
}
#car-content { 
  width: 60%;
	min-height: 30vh;
	padding: 1vw;
	background-color: rgba(240, 240, 255, 1);
	margin-top: 5vw;
	text-align: center;
	border-radius: 6px
}
#car-content h1{
	font-size: clamp(30px, 2vw + 2em, 7em);
	margin: 0;
}
#car-content span{
	font-size: clamp(12px, 0.75vw + 0.75em, 3em)
}
#product-register {
	margin-top: 2vw;
	display: flex;
	justify-content: center;
	gap: 2vw
}
#product-register input{
	border: none;
	outline: none;
	padding: 5px;
	font-size: clamp(12px, 0.75vw + 0.75em, 3em);
	width: 30%;
}
#add-product {
	font-size: clamp(8px, 0.75vw + 0.75em, 3em);
}

@media screen and (max-width: 600px) {
	#car-content { 
		width: 80%;
		min-height: 30vh;
		padding: 1vw;
		background-color: rgba(240, 240, 255, 1);
		margin-top: 5vw;
		text-align: center;
		border-radius: 6px
	}
}