.container {
  display: flex;
  justify-content: center;
}
#product-register-content { 
  width: 50%;
	min-height: 30vh;
	padding: 2vw;
	background-color: rgba(240, 240, 255, 1);
	margin-top: 5vw;
	text-align: center;
	border-radius: 6px
}
#product-register {
	margin-top: 2vw;
	display: flex;
	justify-content: center;
	gap: 2vw
}
